* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Gilroy';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * BUTTONS * * * * * * * * * * * * * * * * * * * * * * * * * */

.btn-bars {
    display: none;
}

.btn-bars i {
    font-size: 26px;
    color: #064dad;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.navbar {
    background-image: url('../images/navbar-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 66px;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.logo.fixed {
    position: fixed;
    top: 10px;
    z-index: 1000;
}


.first-menu {
    display: flex;
    align-items: center;
}

.first-menu ul {
    display: flex;
}

.first-menu ul li {
    margin: 0 30px;
}

.first-menu ul li a {
    color: #000;
    font-weight: 800;
    transition: 0.2s
}

.first-menu ul li a:hover {
    color: #064dad;
}

.header-phone {
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 15px;
    color: #000;
    font-weight: 800;
}

.header-phone span {
    margin-left: 10px;
}

.header-phone:hover img {
    animation: phone-animation 1s infinite;
}

@keyframes phone-animation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}

.second-menu {
    padding: 15px 0 50px 0;
}

.second-menu .wrapper ul {
    display: flex;
    justify-content: center;
}

.second-menu ul li {
    border-right: 1px solid #000;
    padding: 0 15px;
}

.second-menu ul li:last-child {
    border-right: none;
}

.second-menu ul li a {
    font-size: 22px;
    color: #000;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER MOBILE MENU * * * * * * * * * * * * * * * * * * * * * * * * * */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    z-index: 999;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.mobile-menu.toggle {
    visibility: visible;
    opacity: 1;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    color: #000;
}

.mobile-menu ul {
    margin-bottom: 30px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HERO * * * * * * * * * * * * * * * * * * * * * * * * * */

.hero {
    width: 100%;
}

.hero img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * HOME ABOUT * * * * * * * * * * * * * * * * * * * * * * * * * */

.home-about {
    background-image: url('../images/home-about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0;
}

.home-about h1 {
    font-size: 40px;
    font-weight: 800;
    color: #064dad;
}

.home-about p {
    font-size: 30px;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SHOWCASE * * * * * * * * * * * * * * * * * * * * * * * * * */

.showcase {
    background: url('../images/showcase-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 100px;
}

.showcase h2 {
    font-size: 42px;
    font-weight: 800px;
    color: #064dad;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0;
}

.showcase-slider {
    /* overflow: hidden; */
}

.showcase-slide {
    position: relative;
}

.showcase-slide .wrapper {
    display: flex;
}

.showcase-photo {
    width: 500px;
    position: relative;
    z-index: 1;
}

.showcase-photo img {
    width: 100%;
    object-fit: contain;
}

.showcase-info {
    background: url('../images/showcase-info-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 44px;
    position: relative;
    z-index: 1;
}

.showcase-title {
    font-size: 28px;
    font-weight: 800;
}

.showcase-subtitle {
    font-size: 28px;
    font-weight: 300;
}

.showcase-values {
    margin-top: 30px;
}

.showcase-value {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.showcase-value img {
    width: 35px;
}

.showcase-value span {
    font-size: 24px;
    margin-left: 15px;
}

.showcase-price {
    background: #064dad;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    z-index: 0;
    bottom: 0;
}

.showcase-price span {
    font-size: 38px;
    padding-left: 20px;
}

.showcase .wrapper::after {
    background: #064dad;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 50px;
    display: block;
    content: '';
    left: 0;
    bottom: 44px;
    z-index: 0;
}

.showcase .slick-dots {
    position: unset;
    margin-top: 30px;
}

.showcase .slick-dots li button:before {
    font-size: 16px;
    color: #064dad;
}

/* .showcase .prev {
    position: absolute;
    left: 50px;
    top: 40%;
} */

.showcase .prev i {
    font-size: 40px;
    color: #064dad;
}

/* .showcase .next {
    position: absolute;
    right: 50px;
    top: 40%;
} */

.showcase .prev {
    position: absolute;
    left: 47%;
    /* top: 40%; */
    bottom: -40px;
}
.showcase .next {
    position: absolute;
    right: 47%;
    /* top: 40%; */
    bottom: -40px;
}
.showcase .next i {
    font-size: 40px;
    color: #064dad;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CONTACTS * * * * * * * * * * * * * * * * * * * * * * * * * */

.contacts {
    background: url('../images/contacts-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 5;
}

.contacts .wrapper {
    display: flex;
    min-height: 65px;
    align-items: center;
}

.contacts h3 {
    font-size: 32px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    margin-right: 30px;
}

.contacts a {
    margin: 0 15px;
}

.contacts-socials a i {
    color: #000;
    font-size: 32px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * FOOTER  * * * * * * * * * * * * * * * * * * * * * * * * * */

.footer {
    background: url('../images/footer-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h5 {
    color: #064dad;
    font-weight: 800;
    font-size: 20px;
}

.footer a {
    color: #000;
    font-size: 20px;

}

.footer .btn-green {
    background: #00ad47;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    padding: 0.5em 2em;
    margin-top: 20px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CATALOG * * * * * * * * * * * * * * * * * * * * * * * * * */

.catalog {
    min-height: 600px;
}

.breadcrumbs ul {
    display: flex;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
    font-size: 20px;
}


.breadcrumbs li:not(:last-child):after {
    content: "-";
    display: inline-block;
    padding: 0 10px;
}

.catalog-wrapper {
    display: flex;
}

.catalog-products {

    margin-left: 20px;
    width: 100%;
}



.catalog h2 {
    font-size: 30px;
    margin: 20px 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * SIDEBAR * * * * * * * * * * * * * * * * * * * * * * * * * */

.sidebar {
    border: 1px solid #e4e4e4;
    padding: 20px;
    max-width: 290px;
    min-width: 290px;
}

.sidebar h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sidebar ul li {
    padding: 5px 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * PRODUCT * * * * * * * * * * * * * * * * * * * * * * * * * */

.product {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px 15px;
    margin-bottom: 50px;
    border: 1px solid #e4e4e4;
}

.product-photo {
    max-width: 270px;
    position: relative;
    z-index: 1;
}

.product-photo img {
    width: 100%;
}

.product-info {
    background: url('../images/showcase-info-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    margin-left: 35px;
    padding: 15px;
    margin-bottom: 30px;
}

.product-info img {
    width: 20px;
    object-fit: contain;
    margin-right: 5px;
}

.product-price {
    background: #064dad;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    z-index: 1;
    bottom: 0;
    padding-left: 15px;
}

.product-value {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.product-value span {
    font-size: 14px;
}

.product::after {
    background: #064dad;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 30px;
    display: block;
    content: '';
    left: 0;
    bottom: 60px;
    z-index: 0;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 992px) {
    .first-menu ul li {
        margin: 0 15px;
    }

    .second-menu {
        padding-bottom: 30px;
    }

    .second-menu ul li a {
        font-size: 18px;
    }

    .home-about h1 {
        font-size: 30px;
    }

    .home-about p {
        font-size: 20px;
    }

    .showcase .wrapper {
        padding: 0 30px;
    }

    .showcase h2 {
        font-size: 32px;
    }

    .showcase-title {
        font-size: 22px;
    }

    .showcase-subtitle {
        font-size: 20px;
    }

    .showcase-value {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }


    .showcase-value img {
        width: 20px;
        object-fit: contain;
        margin-right: 5px;
    }

    .showcase-value span {
        font-size: 18px;
    }

    .showcase-price span {
        font-size: 26px;
        line-height: 50px;
    }
    .catalog-wrapper {
        flex-direction: column;
    }

    .catalog-products {
        margin-left: 0;
        margin: 20px 0;
    }

    .sidebar {
        max-width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .btn-bars {
        display: block;
    }

    .btn-bars.fixed {
        position: fixed;
        top: 23px;
        right: 15px;
        z-index: 1000;
    }

    .first-menu {
        display: none;
    }

    .second-menu {
        display: none;
    }

    .showcase-slide .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .showcase-photo {
        height: 300px;
        margin-bottom: 30px;
    }

    .showcase-photo img {
        height: 100%;
        object-fit: contain;
    }

    .showcase .wrapper:after {
        display: none;
    }

    .showcase-info {
        margin: 0;
    }
    .showcase-price {
        position: relative;
        margin-top: 20px;
        height: max-content;
        padding: 10px;
    }

    .showcase-price span {
        font-size: 20px;
        line-height: unset;
    }
}